<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>The Mighty JMac &#187; Bants</title>
	<atom:link href="http://localhost/static-sites/jmac.co-wp/category/jokes/feed/" rel="self" type="application/rss+xml" />
	<link>http://localhost/static-sites/jmac.co-wp</link>
	<description>Kung-fu web developer from the future</description>
	<lastBuildDate>Mon, 18 Jan 2016 21:19:32 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.1.12</generator>
	<item>
		<title>10 family relationship revelation predictions for the next Star Wars film</title>
		<link>http://localhost/static-sites/jmac.co-wp/top-10-family-relationship-revelation-predictions-next-star-wars-film/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/top-10-family-relationship-revelation-predictions-next-star-wars-film/#comments</comments>
		<pubDate>Sat, 19 Dec 2015 23:23:33 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
				<category><![CDATA[Bants]]></category>
		<category><![CDATA[Clickbait]]></category>

		<guid isPermaLink="false">http://jmac.co/?p=149</guid>
		<description><![CDATA[<p>My Top 10 family relationship revelation predictions for next Star Wars film (no spoilers): Lando Calrissian is Finn&#8217;s father. BB-8 is R2D2&#8217;s half-brother. Leia is Palpatine&#8217;s fourth cousin once removed. C3PO is R2D2&#8217;s sister. Darth Maul is Kylo Ren&#8217;s ex-boyfriend. Cameron Poe is Po Dameron&#8217;s grandfather. Gollum is Snoke&#8217;s great-great-great-great grandfather. Leia &#38; Han Solo&#8217;s [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/top-10-family-relationship-revelation-predictions-next-star-wars-film/">10 family relationship revelation predictions for the next Star Wars film</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>My Top 10 family relationship revelation predictions for next Star Wars film (no spoilers):</p>
<ol>
<li>Lando Calrissian is Finn&#8217;s father.</li>
<li>BB-8 is R2D2&#8217;s half-brother.</li>
<li>Leia is Palpatine&#8217;s fourth cousin once removed.</li>
<li><span class="text_exposed_show">C3PO is R2D2&#8217;s sister.</span></li>
<li><span class="text_exposed_show">Darth Maul is Kylo Ren&#8217;s ex-boyfriend.</span></li>
<li><span class="text_exposed_show">Cameron Poe is Po Dameron&#8217;s grandfather.</span></li>
<li><span class="text_exposed_show">Gollum is Snoke&#8217;s great-great-great-great grandfather.</span></li>
<li><span class="text_exposed_show">Leia &amp; Han Solo&#8217;s marriage retroactively annulled due to new evidence of Leia&#8217;s infidelities with Porkins.</span></li>
<li><span class="text_exposed_show">Darth Vader&#8217;s paternity of Luke Skywalker proved false by DNA test on galaxy&#8217;s greatest daytime chatshow, Jeremy Kylerissian.</span></li>
<li><span class="text_exposed_show">Your mum is Jabba the Hutt&#8217;s daughter.</span></li>
</ol>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/top-10-family-relationship-revelation-predictions-next-star-wars-film/">10 family relationship revelation predictions for the next Star Wars film</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/top-10-family-relationship-revelation-predictions-next-star-wars-film/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
