<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>The Mighty JMac</title>
	<atom:link href="http://localhost/static-sites/jmac.co-wp/feed/" rel="self" type="application/rss+xml" />
	<link>http://localhost/static-sites/jmac.co-wp</link>
	<description>Kung-fu web developer from the future</description>
	<lastBuildDate>Mon, 18 Jan 2016 21:19:32 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.1.12</generator>
	<item>
		<title>What&#8217;s the best driving theory test app?</title>
		<link>http://localhost/static-sites/jmac.co-wp/whats-the-best-driving-theory-test-app/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/whats-the-best-driving-theory-test-app/#comments</comments>
		<pubDate>Sat, 16 Jan 2016 19:45:13 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
				<category><![CDATA[Apps]]></category>
		<category><![CDATA[Reviews]]></category>

		<guid isPermaLink="false">http://blogs.jmac.co/?p=53</guid>
		<description><![CDATA[<p>When I decided to finally get my driving license sorted, I booked my theory test at the earliest possible opportunity. This left me with a mere 22 days to cram the knowledge into my reluctant mind. I needed help fast, so I searched the app store to find the best theory test app on the iPhone. [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/whats-the-best-driving-theory-test-app/">What&#8217;s the best driving theory test app?</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>When I decided to finally get my driving license sorted, I booked my theory test at the earliest possible opportunity. This left me with a mere 22 days to cram the knowledge into my reluctant mind. I needed help fast, so I searched the app store to find the best theory test app on the iPhone. There&#8217;s abolutely LOADS of them (and about 75% of them have got the same icon), so to save you the hassle of sifting through the dross yourself, I&#8217;ve done the hard work myself.</p>
<p>I used these apps to get a pass mark of 49/50 on the multiple-choice part of the test and 20/25 on the Hazard perception test. If I can do it, then I&#8217;m pretty sure you can too. Unless you&#8217;re thick. In which case you&#8217;ll probably still pass, only with a less impressive score.</p>
<h2>Theory Test App Reviews</h2><hr/><h4><strong><a href="http://geni.us/1BYN">The Official DVSA Theory Test Kit</a></strong> - TSO</h4><div><a href="http://geni.us/1BYN" target="_blank"><img src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/5.png" alt="" class="wp-image-56 size-full alignleft" width="107" height="105"/></a></div><p>This is the only app that’s officially endorsed by the DVSA, and as such it is the most expensive that I’ve tested at £4.99. There’s no free version available which put me off, but it came highly recommended by <a title="Top notch driving instructor" href="http://www.driveoxford.com/" target="_blank">my driving instructor</a> so I went for it.</p>
<p>The hazard perception training videos do not have any commentary to explain them in detail, which I feel is a big omission as the way the scoring officially works is slightly odd, I’ll detail this in another blog post later.</p>
<h4>Rating: <strong>JMAC&#8217;S PICK O&#8217;THE BUNCH!</strong></h4>
<hr/><h4><strong><a href="http://geni.us/1e8w">DVSA Theory Test for Car Drivers UK Free</a></strong> - Focus Multimedia</h4><div><a href="http://geni.us/1e8w" target="_blank"><img src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/8.png" alt="" class="wp-image-60 size-full alignleft" width="107" height="107"/></a></div><p>This paid app appears to be part of a set containing seperate theory test, harzard perception &amp; highway code apps. Confusingly there are multiple versions of each, with some marked as 2015 editions and some marked as 2014. There’s even a seperate “3 in 1” app containing combined theory, hazard and highway code, as well as iTunes bundles! There’s NINE different apps in total! How’s a brother to know which to choose? However, despite this confusion the app is extremely well designed.</p>
<p>I rate it: <strong>Good</strong></p>
<hr/><h4><strong><a href="http://geni.us/43L6">iTheory Driving Test Free UK</a></strong> - Swift Management AG</h4><div><a href="http://geni.us/43L6" target="_blank"><img src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/3.png" alt="" class="wp-image-58 size-full alignleft" width="106" height="106"/></a></div><p>Thumbs up to this app for its great design, and bonus points for its patriotic flag use. It has a large bank of questions available and doesn’t require you to pay to unlock the full set, but you can choose to pay to remove the adverts if you like. There’s some interesting gamification features (trophies and stats) which might make it slightly more fun to study for your theory test. The worst thing about this app is the way displays right and wrong answers; it’s weird and confusing. Weird that the designer couldn’t come up with something better considering the rest of the app is pretty tight!</p>
<p>I rate this app: <strong>Good</strong></p>
<hr/><h4><strong><a href="http://geni.us/3mNZ">AA Theory For Car Drivers (and free edition)</a></strong> - Abel Learning Ltd.</h4><div><a href="http://geni.us/2s4i" target="_blank"><img src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/11.png" alt="" class="wp-image-62 size-full alignleft" width="107" height="106"/></a><a href="http://geni.us/3mNZ" target="_blank"><img src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/iTunes.png" alt="" class="wp-image-55 size-full alignleft" width="110" height="108"/></a></div><p>For some reason I had previously heard that the AA’s app was the best one on the iPhone.  I was very wrong! Your first experience upon loading is to be presented with a form, which will sign you up to the AA’s spam list, with no explanation as to why you might choose to do this!</p>
<p>The learning experience within the app is limited to trying a small set of practice questions and reviewing the answer at the end to see where you went wrong. I assume that paying for the full version will give you more questions but there’s no clear explanation. The look &amp; feel of the app are absolutely terrible throughout, with a horrible colour scheme, poor navigation and no audio feedback when you hit the buttons. The app does have some use in helping you learn the questions through trial and error, but it seems to be a cheap trick to get you to sign up for driving lessons with the AA.</p>
<p>I rate this app: <strong>a steaming turd</strong>.</p>
<hr/><h4><strong><a href="http://geni.us/2C0i">BSM Theory Test – Free Edition</a></strong> - Abel Learning Ltd.</h4><div><a href="http://geni.us/2C0i" target="_blank"><img src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/7.png" alt="" class="wp-image-59 size-full alignleft" width="106" height="109"/></a></div><p>This is merely a re-skinned version of the AA app, made by the same company and ALL the same criticisms apply, even down to the attempt to get you to sign up to a mailing list as soon as you enter the app! Note to app designers: You’ve gotta EARN my contact details! The colour scheme in this version is less disgusting than the AA app, but this is cancelled out by the fact that it’s endorsed by BSM, who are pretty much the Monsanto of driving schools…</p>
<p>I rate this app: <strong>a steaming turd laid by Satan.</strong></p>
<hr/><h4><strong><a href="http://geni.us/3abx">UK Car Driving Theory Test  (and Lite edition)</a></strong> - Webrich Software Limited</h4><div><a href="http://geni.us/3abx" target="_blank"><img src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/6.png" alt="" class="wp-image-57 size-full alignleft" width="109" height="108"/></a><a href="http://geni.us/20pY" target="_blank"><img src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/6.png" alt="" class="wp-image-57 size-full alignleft" width="109" height="108"/></a></div><p>HEY GUYS! Way to make your app stand out from the crowd with your innovative icon designs! The design of this app is fairly mediocre and unoffensive, but doesn’t do it any favours. The questions are presented simply and clearly. Weirdly the app contains a full copy of The Official Highway Code, but it’s scanned in directly from the paper guide and is really difficult to read on an iPhone screen which makes it pretty pointless. I only used the free edition of this app as I didn’t like it anywhere near enough to get the full version.</p>
<p>I rate it: <strong>Lacklustre</strong></p>
<hr/><h4><strong><a href="http://geni.us/2H5B">Driving Theory Test for Car Drivers</a></strong> - Iteration Mobile S.L.</h4><div><a href="http://geni.us/2H5B" target="_blank"><img src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/12.png" alt="" class="wp-image-63 size-full alignleft" width="106" height="106"/></a></div><p>There’s nothing particularly special about this app, although I did like the way it shows you your overall progress through all the questions. Once you’ve hit 100%, you’ll know you’ve seen them all. Unfortunately the selection of questions is extremely limited unless you pay to unlock the full set. There’s a copy of the highway code that is once again very difficult to read on the iPhone screen. No guidance is available for the questions if you get them wrong. There are much better apps.</p>
<p>Rating: <strong>Don’t bother.</strong></p>
<hr/><h4><strong><a href="http://geni.us/c55">Driving Theory Test UK</a></strong> - Lite Deep River Developments</h4><div><a href="http://geni.us/c55" target="_blank"><img src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/13.png" alt="" class="wp-image-64 size-full alignleft" width="105" height="105"/></a></div><p>This app is utter cack. The design is ugly with terrible text alignment, navigation is clunky and annoying and the occasional illustrations are just laughable. You would’ve needed to be suffering from some sort of brain injury to pay for the full version! Back to the drawing board with this one.</p>
<p>Rating: <strong>Filth</strong></p>
<hr/><p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/whats-the-best-driving-theory-test-app/">What&#8217;s the best driving theory test app?</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/whats-the-best-driving-theory-test-app/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>10 family relationship revelation predictions for the next Star Wars film</title>
		<link>http://localhost/static-sites/jmac.co-wp/top-10-family-relationship-revelation-predictions-next-star-wars-film/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/top-10-family-relationship-revelation-predictions-next-star-wars-film/#comments</comments>
		<pubDate>Sat, 19 Dec 2015 23:23:33 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
				<category><![CDATA[Bants]]></category>
		<category><![CDATA[Clickbait]]></category>

		<guid isPermaLink="false">http://jmac.co/?p=149</guid>
		<description><![CDATA[<p>My Top 10 family relationship revelation predictions for next Star Wars film (no spoilers): Lando Calrissian is Finn&#8217;s father. BB-8 is R2D2&#8217;s half-brother. Leia is Palpatine&#8217;s fourth cousin once removed. C3PO is R2D2&#8217;s sister. Darth Maul is Kylo Ren&#8217;s ex-boyfriend. Cameron Poe is Po Dameron&#8217;s grandfather. Gollum is Snoke&#8217;s great-great-great-great grandfather. Leia &#38; Han Solo&#8217;s [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/top-10-family-relationship-revelation-predictions-next-star-wars-film/">10 family relationship revelation predictions for the next Star Wars film</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>My Top 10 family relationship revelation predictions for next Star Wars film (no spoilers):</p>
<ol>
<li>Lando Calrissian is Finn&#8217;s father.</li>
<li>BB-8 is R2D2&#8217;s half-brother.</li>
<li>Leia is Palpatine&#8217;s fourth cousin once removed.</li>
<li><span class="text_exposed_show">C3PO is R2D2&#8217;s sister.</span></li>
<li><span class="text_exposed_show">Darth Maul is Kylo Ren&#8217;s ex-boyfriend.</span></li>
<li><span class="text_exposed_show">Cameron Poe is Po Dameron&#8217;s grandfather.</span></li>
<li><span class="text_exposed_show">Gollum is Snoke&#8217;s great-great-great-great grandfather.</span></li>
<li><span class="text_exposed_show">Leia &amp; Han Solo&#8217;s marriage retroactively annulled due to new evidence of Leia&#8217;s infidelities with Porkins.</span></li>
<li><span class="text_exposed_show">Darth Vader&#8217;s paternity of Luke Skywalker proved false by DNA test on galaxy&#8217;s greatest daytime chatshow, Jeremy Kylerissian.</span></li>
<li><span class="text_exposed_show">Your mum is Jabba the Hutt&#8217;s daughter.</span></li>
</ol>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/top-10-family-relationship-revelation-predictions-next-star-wars-film/">10 family relationship revelation predictions for the next Star Wars film</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/top-10-family-relationship-revelation-predictions-next-star-wars-film/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>10 Reasons why Keytars are better than Guitars</title>
		<link>http://localhost/static-sites/jmac.co-wp/10-reasons-why-keytars-are-better-than-guitars/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/10-reasons-why-keytars-are-better-than-guitars/#comments</comments>
		<pubDate>Thu, 01 Oct 2015 23:28:05 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
				<category><![CDATA[Facts]]></category>

		<guid isPermaLink="false">http://blogs.jmac.co/?p=29</guid>
		<description><![CDATA[<p>This article will take you on a journey into the fascinating world of the keytar. I know you all have this sneaking feeling that guitars suck and keytars are freaking awesome, but you can&#8217;t quite put your finger on the exact reasons why. Or perhaps you&#8217;ve always known that the keytar is superior, but you&#8217;ve been scared [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/10-reasons-why-keytars-are-better-than-guitars/">10 Reasons why Keytars are better than Guitars</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<div id="attachment_30" style="width: 310px" class="wp-caption alignright"><a href="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/keytar.jpg"><img class="size-medium wp-image-30" src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/keytar-300x225.jpg" alt="The unbridled awesomeness of keytars" width="300" height="225" /></a><p class="wp-caption-text">The unbridled awesomeness of keytars</p></div>
<p>This article will take you on a journey into the fascinating world of the keytar. I know you all have this sneaking feeling that guitars suck and keytars are freaking awesome, but you can&#8217;t quite put your finger on the exact reasons why. Or perhaps you&#8217;ve always known that the keytar is superior, but you&#8217;ve been scared of how your peers will react when they discover your beliefs? Well I&#8217;ve been conducting some in-depth scientific research into this issue and I&#8217;ve compiled a definitive list of why keytars are humanity&#8217;s greatest instrument.</p>
<h3>1. Keytars are Difficult</h3>
<p>Playing guitar is piss easy. You just put your left hand in one of three pre-approved positions on six strings and then do whatever the fuck you want with your right hand. This is enough to sound as good as any bit of popular guitar based music. With a keytar you&#8217;ve got at least 36 different keys to master, and it sounds crap to keep tapping the same 6 over and over again so you&#8217;ll need to put a lot more effort in.</p>
<h3>2. Keytars are Unique</h3>
<p>Everybody and their uncle plays guitar. This is because everybody wants to sound like the Beatles or Oasis. If you choose to take a different path from the mindless herd and master the keytar, you&#8217;ll stand out from the massive herd of identical string pluckers. Even if you barely achieve mediocrity you&#8217;ll still look pretty special in comparison.</p>
<h3>3. Keytars are Versatile</h3>
<p>Guitars can only make one sound. Keytars can make fuckloads of different sounds. Even toy keytars made for children in the eighties have at least 64 sounds. That&#8217;s 64 times better than a guitar.</p>
<h3>4. They are from the Future</h3>
<p>Keytars are made out of silicon and plastic and microchips and LEDs and lasers. Guitars are made out of dead trees and old bits of string.</p>
<h3>5. The Legacy</h3>
<p>If you play a keytar you&#8217;ll either sound like you&#8217;re from the 80s or you&#8217;ll sound like you&#8217;re from the future. If you play a guitar you&#8217;ll sound like you&#8217;re from the sixties. The future is awesome, the eighties were awesome but the sixties were utter shit.</p>
<h3>6. The Path to Awesomeness</h3>
<p>You can play the synthesizer riff from The Final Countdown on a keytar, but you can&#8217;t do it on a guitar. I rest my case</p>
<h3>7. Gender-Inclusiveness</h3>
<p>Guitars are misogynist. As a blatantly obvious phallic symbol, women who attempt to play a guitar are becoming unwitting symbols of patriarchal oppression. Keytars are non-phallic so women are able to play them while still maintaining their full dignity and independence. Also, if a woman plays a guitar wearing high heels she&#8217;ll definitely fall over. All modern keytars contain internal stabilising gyroscopes to prevent this from happening.</p>
<div id="attachment_40" style="width: 159px" class="wp-caption alignright"><img class=" wp-image-40" src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/Glenn-Keytar-01-246x300.jpg" alt="keytar-pioneer" width="149" height="182" /><p class="wp-caption-text">Keytar Pioneer</p></div>
<h3>8. Extreme Innovation</h3>
<p>Guitars have been around for hundreds of years and no-one has had any new ideas to make them better for at least 50. Keytars have only been around for like 30 years and bad-ass keytar scientists are coming up with sweet new ideas all the time. Just check this mother fucker out:</p>
<h3>9. Multicultural</h3>
<p>All keytars feature both white and black keys working together in perfect racial harmony. Guitars offer no such vision of our multicultural future and are therefore racist.</p>
<h3>10. Keytar Justice</h3>
<p>A recent scientific study has shown that high court judges who played a keytar solo while reading out a guilty verdict had dramatically lower chances of their convictions being successfully appealed at a later date.</p>
<p>&nbsp;</p>
<h3><a href="http://www.amazon.co.uk/gp/product/B00IXQQQ0G/ref=as_li_tl?ie=UTF8&amp;camp=1634&amp;creative=19450&amp;creativeASIN=B00IXQQQ0G&amp;linkCode=as2&amp;tag=jmac-21" target="_blank">Just buy one already!</a></h3>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/10-reasons-why-keytars-are-better-than-guitars/">10 Reasons why Keytars are better than Guitars</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/10-reasons-why-keytars-are-better-than-guitars/feed/</wfw:commentRss>
		<slash:comments>3</slash:comments>
		</item>
		<item>
		<title>Scottish independence referendum tabloid headlines</title>
		<link>http://localhost/static-sites/jmac.co-wp/scottish-independence-referendum-tabloid-headlines/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/scottish-independence-referendum-tabloid-headlines/#comments</comments>
		<pubDate>Thu, 18 Sep 2014 12:00:50 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
				<category><![CDATA[Facts]]></category>

		<guid isPermaLink="false">http://jmac.co/?p=152</guid>
		<description><![CDATA[<p>Here are some ideas for headlines that Britain&#8217;s tabloids can run alongside a photo of Alex Salmond&#8217;s miserable face in the event of Scottish Independence being defeated: SMOKED SALMOND TATTIES N&#8217; WEEPS HADRIAN&#8217;S BAWL FLABBIE BURNS FREEEEE-DUMB! TRIDENT-TESTED OCH AYE THE BOO-HOO JOCK-BLOCKED &#160;</p>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/scottish-independence-referendum-tabloid-headlines/">Scottish independence referendum tabloid headlines</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Here are some ideas for headlines that Britain&#8217;s tabloids can run alongside a photo of Alex Salmond&#8217;s miserable face in the event of Scottish Independence being defeated:</p>
<h2><img class="size-large wp-image-153 aligncenter" src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2016/01/Alex-Salmond-concedes-def-012-1024x614.jpg" alt="Alex-Salmond-concedes-def-012" width="720" height="432" /></h2>
<h1 style="text-align: center;">SMOKED SALMOND</h1>
<h1 style="text-align: center;">TATTIES N&#8217; WEEPS</h1>
<h1 style="text-align: center;">HADRIAN&#8217;S BAWL</h1>
<h1 style="text-align: center;">FLABBIE BURNS</h1>
<h1 style="text-align: center;"><span class="text_exposed_show">FREEEEE-DUMB!</span></h1>
<h1 style="text-align: center;"><span class="text_exposed_show">TRIDENT-TESTED</span></h1>
<h1 style="text-align: center;"><span class="text_exposed_show">OCH AYE THE BOO-HOO</span></h1>
<h1 style="text-align: center;"><span class="text_exposed_show">JOCK-BLOCKED</span></h1>
<p>&nbsp;</p>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/scottish-independence-referendum-tabloid-headlines/">Scottish independence referendum tabloid headlines</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/scottish-independence-referendum-tabloid-headlines/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
