<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>The Mighty JMac &#187; Facts</title>
	<atom:link href="http://localhost/static-sites/jmac.co-wp/category/facts/feed/" rel="self" type="application/rss+xml" />
	<link>http://localhost/static-sites/jmac.co-wp</link>
	<description>Kung-fu web developer from the future</description>
	<lastBuildDate>Mon, 18 Jan 2016 21:19:32 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.1.12</generator>
	<item>
		<title>10 Reasons why Keytars are better than Guitars</title>
		<link>http://localhost/static-sites/jmac.co-wp/10-reasons-why-keytars-are-better-than-guitars/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/10-reasons-why-keytars-are-better-than-guitars/#comments</comments>
		<pubDate>Thu, 01 Oct 2015 23:28:05 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
				<category><![CDATA[Facts]]></category>

		<guid isPermaLink="false">http://blogs.jmac.co/?p=29</guid>
		<description><![CDATA[<p>This article will take you on a journey into the fascinating world of the keytar. I know you all have this sneaking feeling that guitars suck and keytars are freaking awesome, but you can&#8217;t quite put your finger on the exact reasons why. Or perhaps you&#8217;ve always known that the keytar is superior, but you&#8217;ve been scared [&#8230;]</p>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/10-reasons-why-keytars-are-better-than-guitars/">10 Reasons why Keytars are better than Guitars</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<div id="attachment_30" style="width: 310px" class="wp-caption alignright"><a href="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/keytar.jpg"><img class="size-medium wp-image-30" src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/keytar-300x225.jpg" alt="The unbridled awesomeness of keytars" width="300" height="225" /></a><p class="wp-caption-text">The unbridled awesomeness of keytars</p></div>
<p>This article will take you on a journey into the fascinating world of the keytar. I know you all have this sneaking feeling that guitars suck and keytars are freaking awesome, but you can&#8217;t quite put your finger on the exact reasons why. Or perhaps you&#8217;ve always known that the keytar is superior, but you&#8217;ve been scared of how your peers will react when they discover your beliefs? Well I&#8217;ve been conducting some in-depth scientific research into this issue and I&#8217;ve compiled a definitive list of why keytars are humanity&#8217;s greatest instrument.</p>
<h3>1. Keytars are Difficult</h3>
<p>Playing guitar is piss easy. You just put your left hand in one of three pre-approved positions on six strings and then do whatever the fuck you want with your right hand. This is enough to sound as good as any bit of popular guitar based music. With a keytar you&#8217;ve got at least 36 different keys to master, and it sounds crap to keep tapping the same 6 over and over again so you&#8217;ll need to put a lot more effort in.</p>
<h3>2. Keytars are Unique</h3>
<p>Everybody and their uncle plays guitar. This is because everybody wants to sound like the Beatles or Oasis. If you choose to take a different path from the mindless herd and master the keytar, you&#8217;ll stand out from the massive herd of identical string pluckers. Even if you barely achieve mediocrity you&#8217;ll still look pretty special in comparison.</p>
<h3>3. Keytars are Versatile</h3>
<p>Guitars can only make one sound. Keytars can make fuckloads of different sounds. Even toy keytars made for children in the eighties have at least 64 sounds. That&#8217;s 64 times better than a guitar.</p>
<h3>4. They are from the Future</h3>
<p>Keytars are made out of silicon and plastic and microchips and LEDs and lasers. Guitars are made out of dead trees and old bits of string.</p>
<h3>5. The Legacy</h3>
<p>If you play a keytar you&#8217;ll either sound like you&#8217;re from the 80s or you&#8217;ll sound like you&#8217;re from the future. If you play a guitar you&#8217;ll sound like you&#8217;re from the sixties. The future is awesome, the eighties were awesome but the sixties were utter shit.</p>
<h3>6. The Path to Awesomeness</h3>
<p>You can play the synthesizer riff from The Final Countdown on a keytar, but you can&#8217;t do it on a guitar. I rest my case</p>
<h3>7. Gender-Inclusiveness</h3>
<p>Guitars are misogynist. As a blatantly obvious phallic symbol, women who attempt to play a guitar are becoming unwitting symbols of patriarchal oppression. Keytars are non-phallic so women are able to play them while still maintaining their full dignity and independence. Also, if a woman plays a guitar wearing high heels she&#8217;ll definitely fall over. All modern keytars contain internal stabilising gyroscopes to prevent this from happening.</p>
<div id="attachment_40" style="width: 159px" class="wp-caption alignright"><img class=" wp-image-40" src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2015/02/Glenn-Keytar-01-246x300.jpg" alt="keytar-pioneer" width="149" height="182" /><p class="wp-caption-text">Keytar Pioneer</p></div>
<h3>8. Extreme Innovation</h3>
<p>Guitars have been around for hundreds of years and no-one has had any new ideas to make them better for at least 50. Keytars have only been around for like 30 years and bad-ass keytar scientists are coming up with sweet new ideas all the time. Just check this mother fucker out:</p>
<h3>9. Multicultural</h3>
<p>All keytars feature both white and black keys working together in perfect racial harmony. Guitars offer no such vision of our multicultural future and are therefore racist.</p>
<h3>10. Keytar Justice</h3>
<p>A recent scientific study has shown that high court judges who played a keytar solo while reading out a guilty verdict had dramatically lower chances of their convictions being successfully appealed at a later date.</p>
<p>&nbsp;</p>
<h3><a href="http://www.amazon.co.uk/gp/product/B00IXQQQ0G/ref=as_li_tl?ie=UTF8&amp;camp=1634&amp;creative=19450&amp;creativeASIN=B00IXQQQ0G&amp;linkCode=as2&amp;tag=jmac-21" target="_blank">Just buy one already!</a></h3>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/10-reasons-why-keytars-are-better-than-guitars/">10 Reasons why Keytars are better than Guitars</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/10-reasons-why-keytars-are-better-than-guitars/feed/</wfw:commentRss>
		<slash:comments>3</slash:comments>
		</item>
		<item>
		<title>Scottish independence referendum tabloid headlines</title>
		<link>http://localhost/static-sites/jmac.co-wp/scottish-independence-referendum-tabloid-headlines/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/scottish-independence-referendum-tabloid-headlines/#comments</comments>
		<pubDate>Thu, 18 Sep 2014 12:00:50 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
				<category><![CDATA[Facts]]></category>

		<guid isPermaLink="false">http://jmac.co/?p=152</guid>
		<description><![CDATA[<p>Here are some ideas for headlines that Britain&#8217;s tabloids can run alongside a photo of Alex Salmond&#8217;s miserable face in the event of Scottish Independence being defeated: SMOKED SALMOND TATTIES N&#8217; WEEPS HADRIAN&#8217;S BAWL FLABBIE BURNS FREEEEE-DUMB! TRIDENT-TESTED OCH AYE THE BOO-HOO JOCK-BLOCKED &#160;</p>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/scottish-independence-referendum-tabloid-headlines/">Scottish independence referendum tabloid headlines</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Here are some ideas for headlines that Britain&#8217;s tabloids can run alongside a photo of Alex Salmond&#8217;s miserable face in the event of Scottish Independence being defeated:</p>
<h2><img class="size-large wp-image-153 aligncenter" src="http://localhost/static-sites/jmac.co-wp/wp-content/uploads/2016/01/Alex-Salmond-concedes-def-012-1024x614.jpg" alt="Alex-Salmond-concedes-def-012" width="720" height="432" /></h2>
<h1 style="text-align: center;">SMOKED SALMOND</h1>
<h1 style="text-align: center;">TATTIES N&#8217; WEEPS</h1>
<h1 style="text-align: center;">HADRIAN&#8217;S BAWL</h1>
<h1 style="text-align: center;">FLABBIE BURNS</h1>
<h1 style="text-align: center;"><span class="text_exposed_show">FREEEEE-DUMB!</span></h1>
<h1 style="text-align: center;"><span class="text_exposed_show">TRIDENT-TESTED</span></h1>
<h1 style="text-align: center;"><span class="text_exposed_show">OCH AYE THE BOO-HOO</span></h1>
<h1 style="text-align: center;"><span class="text_exposed_show">JOCK-BLOCKED</span></h1>
<p>&nbsp;</p>
<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/scottish-independence-referendum-tabloid-headlines/">Scottish independence referendum tabloid headlines</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/scottish-independence-referendum-tabloid-headlines/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
