<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>The Mighty JMac &#187; Projects</title>
	<atom:link href="http://localhost/static-sites/jmac.co-wp/projects/feed/" rel="self" type="application/rss+xml" />
	<link>http://localhost/static-sites/jmac.co-wp</link>
	<description>Kung-fu web developer from the future</description>
	<lastBuildDate>Mon, 18 Jan 2016 21:19:32 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.1.12</generator>
	<item>
		<title>Dawn of Titans</title>
		<link>http://localhost/static-sites/jmac.co-wp/projects/dawn-of-titans/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/projects/dawn-of-titans/#comments</comments>
		<pubDate>Mon, 18 Jan 2016 21:14:49 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
		
		<guid isPermaLink="false">http://jmac.co/?post_type=projects&#038;p=299</guid>
		<description><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/dawn-of-titans/">Dawn of Titans</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/dawn-of-titans/">Dawn of Titans</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/projects/dawn-of-titans/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>CSR Racing 2</title>
		<link>http://localhost/static-sites/jmac.co-wp/projects/csr-racing-2/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/projects/csr-racing-2/#comments</comments>
		<pubDate>Mon, 18 Jan 2016 21:13:04 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
		
		<guid isPermaLink="false">http://jmac.co/?post_type=projects&#038;p=298</guid>
		<description><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/csr-racing-2/">CSR Racing 2</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/csr-racing-2/">CSR Racing 2</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/projects/csr-racing-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Clumsy Ninja</title>
		<link>http://localhost/static-sites/jmac.co-wp/projects/clumsy-ninja/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/projects/clumsy-ninja/#comments</comments>
		<pubDate>Mon, 18 Jan 2016 21:11:24 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
		
		<guid isPermaLink="false">http://jmac.co/?post_type=projects&#038;p=297</guid>
		<description><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/clumsy-ninja/">Clumsy Ninja</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/clumsy-ninja/">Clumsy Ninja</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/projects/clumsy-ninja/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Zombie Army Trilogy</title>
		<link>http://localhost/static-sites/jmac.co-wp/projects/zombie-army-trilogy/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/projects/zombie-army-trilogy/#comments</comments>
		<pubDate>Mon, 18 Jan 2016 21:02:33 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
		
		<guid isPermaLink="false">http://jmac.co/?post_type=projects&#038;p=296</guid>
		<description><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/zombie-army-trilogy/">Zombie Army Trilogy</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/zombie-army-trilogy/">Zombie Army Trilogy</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/projects/zombie-army-trilogy/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Evil Genius Online</title>
		<link>http://localhost/static-sites/jmac.co-wp/projects/evil-genius-online/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/projects/evil-genius-online/#comments</comments>
		<pubDate>Mon, 18 Jan 2016 21:00:51 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
		
		<guid isPermaLink="false">http://jmac.co/?post_type=projects&#038;p=295</guid>
		<description><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/evil-genius-online/">Evil Genius Online</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/evil-genius-online/">Evil Genius Online</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/projects/evil-genius-online/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Evil Genius : WMD</title>
		<link>http://localhost/static-sites/jmac.co-wp/projects/evil-genius-wmd/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/projects/evil-genius-wmd/#comments</comments>
		<pubDate>Mon, 18 Jan 2016 20:58:07 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
		
		<guid isPermaLink="false">http://jmac.co/?post_type=projects&#038;p=294</guid>
		<description><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/evil-genius-wmd/">Evil Genius : WMD</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/evil-genius-wmd/">Evil Genius : WMD</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/projects/evil-genius-wmd/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Sniper Elite V2</title>
		<link>http://localhost/static-sites/jmac.co-wp/projects/sniper-elite-v2/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/projects/sniper-elite-v2/#comments</comments>
		<pubDate>Mon, 18 Jan 2016 20:56:23 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
		
		<guid isPermaLink="false">http://jmac.co/?post_type=projects&#038;p=293</guid>
		<description><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/sniper-elite-v2/">Sniper Elite V2</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/sniper-elite-v2/">Sniper Elite V2</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/projects/sniper-elite-v2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Aliens vs. Predator</title>
		<link>http://localhost/static-sites/jmac.co-wp/projects/aliens-vs-predator/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/projects/aliens-vs-predator/#comments</comments>
		<pubDate>Mon, 18 Jan 2016 20:52:51 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
		
		<guid isPermaLink="false">http://jmac.co/?post_type=projects&#038;p=292</guid>
		<description><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/aliens-vs-predator/">Aliens vs. Predator</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/aliens-vs-predator/">Aliens vs. Predator</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/projects/aliens-vs-predator/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Aliens vs Predator Requiem</title>
		<link>http://localhost/static-sites/jmac.co-wp/projects/aliens-vs-predator-requiem/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/projects/aliens-vs-predator-requiem/#comments</comments>
		<pubDate>Mon, 18 Jan 2016 20:49:28 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
		
		<guid isPermaLink="false">http://jmac.co/?post_type=projects&#038;p=291</guid>
		<description><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/aliens-vs-predator-requiem/">Aliens vs Predator Requiem</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/aliens-vs-predator-requiem/">Aliens vs Predator Requiem</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/projects/aliens-vs-predator-requiem/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Zubo</title>
		<link>http://localhost/static-sites/jmac.co-wp/projects/zubo/</link>
		<comments>http://localhost/static-sites/jmac.co-wp/projects/zubo/#comments</comments>
		<pubDate>Mon, 18 Jan 2016 20:41:59 +0000</pubDate>
		<dc:creator><![CDATA[JMac]]></dc:creator>
		
		<guid isPermaLink="false">http://jmac.co/?post_type=projects&#038;p=289</guid>
		<description><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/zubo/">Zubo</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>The post <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp/projects/zubo/">Zubo</a> appeared first on <a rel="nofollow" href="http://localhost/static-sites/jmac.co-wp">The Mighty JMac</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/jmac.co-wp/projects/zubo/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
